.hero {
    text-align: center;
    background-color: var(--primary-color);
    margin: 12.5% 25% 0% 25%;
    padding: 2em;
    border-radius: 1em;
    word-wrap: break-word;
    word-break: break-word;
}

.hero .hero-name {
    font-size: 3.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.hero-name > a {
    color: #171717;
    text-decoration: none;
}

a > img {
    margin: 0px 15px 0px 15px;
}

p {
    font-size: 2em;
    padding-top: 0em;
    margin-top: 0em;
    margin-bottom: 0.7em;
}

@media only screen and (max-width: 870px) {
    .hero {
        margin: 12.5% 1em 0% 1em;
    }
}