.hero-market-status {
    text-align: center;
    background-color: var(--primary-color);
    margin: 2% 25% 0% 25%;
    padding: 2em;
    border-radius: 1em;
    word-wrap: break-word;
    word-break: break-word;
}

.hero-market-status .hero-name {
    font-size: 3.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.hero-market-status .container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: top;
}

input {
    margin: 0.5em;
}

h2 {
    font-size: 2em;
    color: #f2f2f2;
}

h3 {
    font-size: 1.6em;
    color: #000000;
}

h4 {
    font-size: 1.2em;
    margin: 0;
}

button {
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin: 20px 10px 10px 10px;
    padding: 10px 30px;
    text-decoration: none;
    max-width: 120px;
    text-align: center;
    display: inline-block;
    transition: background-color 220ms, transform 220ms;
    border: none;
}

textarea {
    width: 300px;
    height: 150px;
}

label {
    font-size: 1.3em;
    font-weight: bold;
}

input:not(.btn) {
    font-size: 14px;
    margin-bottom: 0.5em;
    padding: 0.75em 0.5em;
    background-color: white;
    width: 100%;
    max-width: 250px;
    border: none;
    border-radius: 3px;
    text-align: center;
}

.card-market-status {
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.07);
    padding: 15px;
    margin: auto;
    border-radius: 8px;
    list-style: none;
    display: grid;
    place-items: center;
    text-align: center;
    position: relative;
    width: 70%;
}
li.card-market-status{
    margin: auto;
}
.card-market-status h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.card-market-status .name {
    font-size: 24px;
    margin-bottom: 5px;
}

.card-market-status ul {
    list-style: none;
    padding-left: 0;
    line-height: 22px;
    font-size: 14px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
    color: rgba(0, 0, 0, 0.8);
    margin: 0.4em;
}

.card-market-status-calc {
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.07);
    padding: 15px;
    margin: auto;
    border-radius: 8px;
    list-style: none;
    display: grid;
    place-items: center;
    text-align: center;
    position: relative;
    width: 70%;
}
li.card-market-status-calc{
    margin: auto;
}
.card-market-status-calc h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.card-market-status-calc .name {
    font-size: 24px;
    margin-bottom: 5px;
}
.card-market-status-calc ul {
    list-style: none;
    padding-left: 0;
    line-height: 22px;
    font-size: 14px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    color: rgba(0, 0, 0, 0.8);
    margin: 0.4em;
}

@media only screen and (max-width: 1500px) {
    .hero-market-status .container {
        display: block;
        align-items: center;
    }
}
@media only screen and (max-width: 900px) {
    .hero-market-status {
        margin: 6% 1em 0% 1em;
    }
}