@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Ubuntu:wght@400;700&display=swap");
:root {
  --primary-color: #a2231d;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: "Arvo";
}

/* Navbar */
.navbar {
  background: white;
  padding: 0em 0.3em;
}

.navbar .navbar-name {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 2.3em;
  margin: 0.1em;
}

.navbar .navbar-name span {
  color: var(--primary-color);
}

.navbar .container {
  display: flex;
}

.navbar nav {
  display: flex;
  height: auto;
  width: 100%;    
  padding: 0;
  justify-content: space-between;
}

.navbar nav ul {
  display: flex;
}

.navbar nav a {
  color: black;
  font-size: 1em;
  padding: 1em 1em;
}

.navbar nav li.contact-cta a {
  color: var(--primary-color);
  border: 3px solid;
  border-radius: 5em;
  font-weight: bold;
  padding: 0.406em;
  margin-top: 0.406em;
}
nav > ul > li > a {
  color: #444444;
  text-decoration: none;
}

nav > ul {
  list-style-type: none;
}