@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Ubuntu:wght@400;700&display=swap");
:root {
  --primary-color: #a2231d;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: "Arvo";
}